body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    background-color: black;
}

#video {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
#div {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: rgba(114 52 52 / 90%); 
    padding: 100px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    color: white;

}

#return {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(114 52 52 / 90%);
    color: rgba(114 52 52 / 90%);
    border-radius: 5%;
    transition: border-color 0.3s; 
    padding-inline: 42%;

}
