button {
    margin-bottom: 20px;
    transition: border-color 0.3s;
    height: 35px;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: medium;
    border-radius: 50px;
    border: 5px rgba(114 52 52 / 90%) solid;
    color: rgba(114 52 52 / 90%);
}
#buttons{
    position: relative;
    display: block;
}
body{
    background-image: url(../../images/backgrounImg.png);
    display: flex;
}